<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/style.css">
    <title>Login</title>
</head>

<body style="background-color: #084a3946;">

    <!-- Logo -->
    <div class="logo-container text-center mb-4" style="padding-top: 40px;">
        <img src="/assets/img/logo-FichAutomatica.svg" alt="logo-FichAutomatica" class="img-fluid">
    </div>

    <!-- Formulario de Login -->
    <div class="container mt-5">
        <form action="#" method="get">

            <!-- Box de input -->
            <div class="box">
                <h1 class="text-center" style="color: #049a8f; padding-bottom: 25px;">Login</h1>
                <!-- Input Email -->
                <div class="input-group mb-2">
                    <span class="input-group-text" id="input-email">
                        <img src="/assets/img/icon-email.svg" alt="icon-@" width="20px" height="20px">
                    </span>
                    <input type="email" class="form-control" placeholder="Email" aria-label="Email"
                        aria-describedby="addon-wrapping" required>
                </div>
                <!-- Input Senha -->
                <div class="input-group mb-5">
                    <span class="input-group-text" id="input-senha">
                        <img src="/assets/img/icon-chave.svg" alt="icon-chave" width="21px" height="20px">
                    </span>
                    <input type="password" class="form-control" placeholder="Senha" aria-label="Senha"
                        aria-describedby="addon-wrapping" required>
                </div>
                <!-- Botões -->
                <div class="d-flex justify-content-between">
                    <!-- Botão Cadastrar -->
                    <a href="#" class="btn btn-secondary" role="button">Cadastrar</a>

                    <!-- Botão Login -->
                    <button class="btn btn-primary" type="submit">Login</button>
                </div>
            </div>
        </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>

</html>