<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/style.css">
    <title>Sobre o site</title>
</head>

<body>
    <!-- Navbar -->
    <div id="navbar-container"></div>

    <div>
        <!-- Informações Gerais - Ordem Paranormal -->
        <div style="background-color: rgba(34, 139, 134, 0.837); padding: 5px;">
            <hr style="border: none; height: 2px; background-color: white;">
        </div>
        <div
            style="display: flex; justify-content: center; align-items: center; flex-direction: column; background-color: rgba(34, 139, 134, 0.837);">
            <img src="/assets/img/Ordem-Paranormal.png" alt="Ordem-Paranormal Logo"
                style=" width: 25rem; height: 10rem; padding-bottom: 25px;">
        </div>
        <div style="padding-left: 75px;">
            <p style="text-align: justify; width: 80%; font-size: 25px">


            <ul>
                <li><b>Universo</b></li>
                <p style="text-align: justify; width: 89%;">
                    O paranormal não vem para a nossa realidade de maneira fácil. Ou pelo menos, as coisas deveriam ser
                    assim. O mundo tem uma base de sanidade sólida, por isso as manifestações paranormais do Outro Lado
                    são apenas encontradas em locais específicos. A membrana que separa a nossa realidade do Outro Lado
                    pode ser enfraquecida pelo Medo, e diversos grupos de ocultistas estão dispostos a fazer o que for
                    preciso para enfraquecer essa Membrana e invocar as entidades do Outro Lado. Por causa disso, uma
                    organização de detetives paranormais foi criada: a Ordo Realitas. Vivendo vidas duplas, os agentes
                    da Ordem secretamente investigam e combatem o paranormal, protegendo a Realidade e lutando contra
                    aqueles que estão apenas dispostos a mergulhar o mundo em caos. Ordem Paranormal é um universo de
                    investigação paranormal, criado por Rafael Lange.
                </p>
                <li><b>Como Surgiu</b></li>
                <p style="text-align: justify; width: 90%;">
                    O universo de Ordem Paranormal surgiu originalmente a partir de campanhas de RPG de mesa em
                    transmissões ao vivo. Várias temporadas já foram realizadas, todas transmitidas com episódios
                    semanais através do canal oficial do criador na plataforma de streaming Twitch, com gravações dos
                    episódios sendo disponibilizadas em seu canal do YouTube Até então, todas as sete temporadas foram
                    realizadas digitalmente em eventos especiais, expandindo a história da Ordem Paranormal de um
                    simples jogo entre amigos para um universo profundo, misterioso e complexo, se tornando o programa
                    de RPG ao vivo mais assistido do Brasil.
                </p>
                <li><b>Criador</b></li>
                <p style="text-align: justify; width: 90%;">
                    Rafael Lange, mais conhecido pelo seu pseudônimo Cellbit, é o criador do universo de Ordem
                    Paranormal. Além disso, atua como roteirista, diretor criativo e criador de conteúdo nas plataformas
                    YouTube e Twitch. É diretor criativo do jogo Ordem Paranormal: Enigma do Medo. Na versão RPG de mesa
                    do universo, ele atua como narrador, responsável por gerir todo o mundo de criaturas, personagens e
                    acontecimentos.
                </p>
            </ul>



            </p>
        </div>
        <!-- Informações Gerais - Dungeons & Dragons -->
        <div style="background-color: rgba(34, 139, 134, 0.837); padding: 5px;">
            <hr style="border: none; height: 2px; background-color: white;">
        </div>
        <div
            style="display: flex; justify-content: center; align-items: center; flex-direction: column; background-color: rgba(34, 139, 134, 0.837);">
            <img src="/assets/img/Dungeons&Dragons.png" alt="Dungeons & Dragons Logo"
                style=" width: 25rem; height: 10rem; padding-bottom: 25px;">
        </div>
        <div style="padding-left: 75px;">
            <ul>
                <li><b>Universo</b></li>
                <p style="text-align: justify; width: 89%;">
                    O universo de D&D é vasto e variado, composto por muitos mundos diferentes, cada um com suas
                    próprias culturas, deuses, monstros e histórias. O sistema de regras permite aos jogadores explorar
                    esse universo de forma criativa, já que cada campanha pode ser ambientada em diferentes reinos e
                    cenários. Os principais elementos do universo incluem: Raças; Classes; Magias; Deuses e Pantões;
                    Masmorras e Aventuras.
                </p>
                <li><b>Como Surgiu</b></li>
                <p style="text-align: justify; width: 90%;">
                    A criação de D&D está profundamente ligada aos interesses dos fundadores em jogos de guerra e
                    literatura de fantasia. Gary Gygax, um entusiasta de wargames (jogos de guerra em grande escala),
                    começou a adaptar o sistema de regras para focar mais na narrativa e no desenvolvimento de
                    personagens, ao invés de apenas simular batalhas em massa. Dave Arneson, por sua vez, contribuiu com
                    a ideia de adicionar elementos de aventura em uma história, criando a primeira forma do que viria a
                    ser o "Dungeon Master" (DM), uma pessoa responsável por narrar a história, criar o mundo e controlar
                    os NPCs (personagens não-jogadores). <br>
                    Em 1974, D&D foi lançado e rapidamente se tornou um sucesso, principalmente entre aqueles que
                    gostavam de jogos de tabuleiro e literatura de fantasia, como as obras de J.R.R. Tolkien, Robert E.
                    Howard e outros autores da época.
                </p>
                <li><b>Criador</b></li>
                <p style="text-align: justify; width: 90%;">
                    Gary Gygax, um dos criadores de Dungeons & Dragons (D&D), é uma figura central na história dos jogos
                    de RPG. Ele nasceu em 27 de julho de 1938, em Chicago, Illinois, e cresceu com uma grande paixão por
                    jogos de tabuleiro, ficção científica e fantasia. Antes de criar D&D, Gygax estava envolvido com
                    jogos de guerra (wargames), que eram populares nos anos 1960, e com a criação de regras para simular
                    batalhas em grande escala.
                </p>

            </ul>

        </div>
    </div>
    </div>

    <!-- Footer -->
    <div id="footer-container"></div>

    <!-- Script Navbar -->
    <script src="/assets/js/navbar.js"></script>
    <!-- Script Footer -->
    <script src="/assets/js/footer.js"></script>
    <!-- Script Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>

</html>