html,
body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

#main-content {
    flex: 1;
}

#footer-container {
    margin-top: auto;
}

.logo-container {
    text-align: center;

}

.img-fluid {
    max-width: 50%;
    height: auto;
}

/* Box do Login */
.box {
    border: 2px solid #c7d3d072;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    padding: 25px;
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
}

.input-group {
    padding: 15px;
}

/* Dropdown Submenu - Navbar */
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    left: 100%;
    top: 0;
    display: none;
    z-index: 1050;
}

.dropdown-submenu:hover .dropdown-menu {
    display: block;
}



/* Impede as Box de tipo Number de ficar com cetas ao lado */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

/* Botão ─ Ordem */
.btn-ordem {
    color: #000000;
    font-size: 35px;
    background-color: rgb(1, 1, 0);
    border: 3px solid rgb(233, 211, 71);
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 15px;
    cursor: pointer;
    transform: translateY(20px);
    animation: surgir 1s ease-out forwards;
}

/* Animação ao passar o mouse encima */
.btn-ordem:hover {
    background-color: rgb(48, 48, 46);
    cursor: pointer;
}

/* Botão ─ Dungeons */
.btn-dungeon {
    color: #000000;
    font-size: 35px;
    background-color: rgb(241, 241, 241);
    border: 3px solid rgb(188, 0, 0);
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 15px;
    cursor: pointer;
    transform: translateY(20px);
    animation: surgir 1s ease-out forwards;
}

/* Animação ao passar o mouse encima */
.btn-dungeon:hover {
    background-color: rgb(214, 214, 214);
    cursor: pointer;
}


/* Animação de entrada do botão ao carregar a tela */
@keyframes surgir {
    0% {
        opacity: 0.3;
        transform: translateY(20px);
    }
    50% {
        opacity: 0.6;
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}